<html>
<body>
    <h1>Coastline of Karnataka</h1>
    {% load static %}
    <table>
        <td></br>
            <tr><img src = "{% get_media_prefix %}{{coastline.0.image}}" width = 350 height = 250></br></br></br></tr>
            <tr><b>Description: </b>{{coastline.0.description}}</tr></br></br>
            <b>No. of days: </b><tr>{{coastline.0.no_of_days}}</tr></br></br>
            <tr><b>Ratings:</b> {{coastline.0.ratings}}</tr></br></br>
            <tr><b>Category:</b> {{coastline.0.category}}</tr></br></br>
            <tr><button type = "button" class = "btn btn-primary">Book now</button></tr>
        </td>
    </table>
    
    <!--<img src = "{%  static  "travelapp\munnar.jpg"  %}"/>-->
</body>
</html>
