<html>

<div class="container">
        <div class="row" style="background-color:yellow;">
                      <div class="col-md-6" >
                                <font><h1 color = "green">T&T</h1></font>
                    </div>
                    <div class="col-md-3" >
                                <a href="link.html"><h3>Bookings List</h3></
                      </div>
                      <div class="col-md-3 text-right">
                     
                                <a href="logout.html"> <h3>Logout</h3></a>
                    </div>
       </div>
  </html>
